body {
    background-image: url("felt.png");
}
#player {
    margin-bottom: 100px;
    margin-top: 50px;
 }
.navbar {
    width: 100%;
    text-align: center;
    content: center;
    background: rgb(121, 120, 120);
    height: 100px;
    margin: 0 auto;
}
h2 {
    text-align: center;
    color: rgb(17, 194, 1);
}
.sideBar {
    float: left;
}
footer {
    position: fixed;
    bottom: 0;
    width: 101%;
    height: 60px;
    /* Height of the footer */
    background: rgb(121, 120, 120);
}
.imageDiv {
    position: absolute;
    margin-left: 240px;
}
#edamam-badge {
    margin: 0 auto;
}
.container {
    margin: 0 auto;
}
h3 {
    text-align: center;
    color: black;
}
.navbar-brand {
    /* margin-top: -215px; */
}
.mdl-navigation__link {
    text-align: center;
    margin-left: 110px;
    padding: 10px;
}
.col-lg-2 {
    padding: 50px;
    margin: 0 auto;
}
.col-lg-12 {
    margin: 0 auto;
}
.logo {
    position: absolute;
    float: left;
    margin-top: -49px;
}
#menu {
    margin-left: 240px;
}